.parent {
  width: 100%;
  height: auto;
}

.parent span:hover {
  color: #494c6b;
}

.amountAndclear {
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.amountAndclear span {
  color: #9495a5;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 400;
}

.amountAndclear span:last-child {
  cursor: pointer;
}

.filters {
  width: 100%;
  height: 4.8rem;
  margin-top: 1.6rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  gap: 1.8rem;
}

.filters span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
  font-family: inherit;
  color: #9495a5;
  cursor: pointer;
}

.active {
  color: #3a7cfd;
  font-size: 3rem;
}
#dark .amountAndclear {
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  background-color: #25273d;
}

#dark .amountAndclear span {
  color: #5b5e7e;
}

#dark .filters {
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  background-color: #25273d;
}

#dark .filters span {
  color: #5b5e7e;
}
#dark .parent span:hover {
  color: white;
}

@media (min-width: 768px) {
  /* .parent {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .amountAndclear {
    display: flex;
    justify-content: space-between;
  }

  .amountAndclear span {
    font-size: 1.4rem;
    z-index: 10;
  }

  .filters {
    margin-top: -5rem;
    background-color: transparent;
    height: 5rem;
    position: relative;
  }
}
