section {
  position: absolute;
  width: 32.7rem;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 1.6rem;

  left: 50%;
  top: 4.8rem;
  transform: translateX(-50%);
}

section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.createBox {
  width: 100%;
  margin-top: 2.4rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
}

.createBox .checkBox {
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
}

.createBox input[type="checkbox"] {
  width: 2rem;
  height: 2rem;

  appearance: none;
  border: 0.1rem solid #e3e4f1;
  border-radius: 50%;
}

#newTodo {
  border: none;
  outline: none;
  width: 100%;

  font-size: 1.3rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-family: inherit;

  color: #494c6b;
}

#newTodo::placeholder {
  color: #9495a5;
}

.todo-list {
  width: 100%;
  height: 40rem;

  background-color: #ffffff;
  border-radius: 0.5rem;
}
