.todo-item .checkBox {
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
}

.todo-item {
  width: 100%;

  background-color: #ffffff;

  height: 4.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  /* justify-content: space-evenly; */
  gap: 1.2rem;
  border-bottom: 0.1rem solid #e3e4f1;
  padding-block: 2.6rem;
}

.todo-item:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.todo-item input[type="checkbox"] {
  width: 2rem;
  height: 2rem;

  appearance: none;
  -webkit-appearance: none;
  border: 0.1rem solid #e3e4f1;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.todo-item input[type="checkbox"]:hover {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%) border-box;
  border: 0.2rem solid transparent;
}
.todo-item input[type="checkbox"]:checked {
  background-image: url(/src/assets/images/icon-check.svg),
    linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  background-repeat: no-repeat;

  background-position: center;

  outline: none;
}

.todo-item p {
  border: none;
  outline: none;
  width: 70%;

  font-size: 1.3rem;
  line-height: 1.2rem;
  font-weight: 400;
  font-family: inherit;

  color: #494c6b;
}

.removeIcon {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .todo-item {
    height: 6.4rem;
    cursor: pointer;
    gap: 2.4rem;
  }

  .todo-item p {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.025rem;
  }
  .todo-item input[type="checkbox"] {
    width: 2.4rem;
    height: 2.4rem;
  }

  .removeIcon {
    margin-left: auto;
    margin-right: 2.4rem;
  }
  .removesvg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

#dark .todo-item {
  background-color: #25273d;
  border-bottom: 0.1rem solid #393a4b;
}

#dark .todo-item input[type="checkbox"] {
  border: 0.1rem solid #393a4b;
}

#dark .todo-item p {
  color: #c8cbe7;
}

#dark .todo-list {
  background-color: #25273d;
}
